<div class="grid">
  <!-- Sidebar -->
  <div class="col-fixed">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Contenido principal -->
  <div class="col">
    <div class="grid">
      <div class="col-3">
        <app-widget />
      </div>
      <div class="col-3">
        <app-widget />
      </div>
      <div class="col-3">
        <app-widget />
      </div>
    </div>
    <div class="grid" style="margin-top: 3rem;">
      <div class="col-6">
        <app-widget />
      </div>
      <div class="col-6">
        <app-widget />
      </div>
    </div>
  </div>
</div>
